.container {
    margin: auto;
    display: table;
}

.margintop4 {
    margin-top: 4px;
}

.right {}

.row {
    display: flex;
}

.right {
    margin: 0px 1em;
}

.alert-danger {
    color: #eb1616;
}

table,
th,
td {
    border: 1px solid black;
}
.alert.alert-success {
    border: 1px solid;
    text-align: center;
    padding: 14px;
    color: #318d1e;
    font-size: 21px;
    font-weight: 500;
    margin: 2rem 0;
}
.alert.alert-success span {
    color: #3a7d31;
}
.button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
